.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

i {
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}

main {
  background: url(https://cdn.wallpapersafari.com/50/33/VzSu7c.jpg);
  height: calc(100vh - 46.4px);
  overflow: hidden;
}

.divider {
  place-self: center;
  margin-left: 3px;
  margin-right: 3px;
}
