.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(200, 215, 235);
}

#header .header__left .header__button i {
  vertical-align: middle;
}

#header .header__left .header__button:last-child {
  background-color: rgba(0, 0, 0, 0.1);
}

.header__left,
.header__right {
  display: flex;
  flex-wrap: wrap;
}

.header__button {
  border-radius: 5px;
  background-color: transparent;
  border-color: transparent;
  padding: 3px 8px;
  margin: 2px;
}

.header__button:hover:not(.user__btn, .invite__btn, .bell__btn),
.menu:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.menu {
  border-radius: 5px;
  background-color: transparent;
  border-color: transparent;
}

i {
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.user__btn {
  color: white;
  background-color: rgb(0, 135, 90) !important;
  border-radius: 50%;
}

.invite__btn {
  color: white;
  background-color: rgb(0, 121, 191) !important;
}

.bell__btn {
  color: white;
  background-color: #00c2e0;
}

.bell__btn:hover {
  background-color: #00869b;
}

.input__container {
  position: relative;
  place-self: center;
}

.input__box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-left: 30px;
}

.input__icon {
  position: absolute;
  left: 8px;
  top: 8px;
}

main {
  background: url(https://cdn.wallpapersafari.com/50/33/VzSu7c.jpg);
  height: calc(100vh - 46.4px);
  overflow: hidden;
}

.divider {
  place-self: center;
  margin-left: 3px;
  margin-right: 3px;
}

.board__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.board__header .header__button {
  background-color: rgba(0, 0, 0, 0.1);
}

.board__header .header__button i {
  margin-left: 5px;
  margin-right: 5px;
}
